<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
<div class="container">

        <table class="table striped">
            <tr>
                <th>Id</th>
                <th>email</th>
                <th>Last Name</th>
                <th>Name</th>
                <th>Username</th>
                <th>Budget</th>
                <th>Delete user</th>
            </tr>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getUserName()}"></td>
                <td th:text="${user.getAccBudget()}"></td>
                <td><a th:href="@{/delete/__${user.getId()}__}" class="btn red">Delete</a></td>
            </tr>
        </table>

    </div>

    <form th:action="@{/logout}" method="get">
        <div class="center-align">
        <button class="btn red" name="registration"
                type="Submit">Logout
        </button>
        </div>
    </form>

</div>
</body>
</html>
