<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <img th:src="@{/login.css}" class="img-responsive center-block" width="200" height="200"
                     alt="img"/>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Choose account operation</div>
                <div class="panel-body">
                    <form action="#"
                          th:action="@{/pay/{id}(id = ${userId})}" method="post">
                        <label>Pay</label>
                        <input type="number" />
                    </form>
                    <span th:utext="${accBudget}"></span>
                    <form th:action="@{/user/savedAccountOperation/{id}(id = ${userId})}" method="get">
                        <div>
                            <label>Amount: </label>
                            <input type="number" name="operationBudget"  />
                        </div>
                        <input type="radio" name="operationType" value="PAYMENT" checked="checked"/>
                        <label>PAYMENT</label>
                        <input type="radio"  name="operationType" value="WITHDRAWAL" />
                        <label>WITHDRAWAL</label>
                        <button type="submit" class="btn btn-primary col-md-offset-4" >
                            Save </button>
                    </form>
                </div>

            </div>


            <p class="admin-message-text text-center" th:utext="${userMessage}"></p>
        </div>
    </div>

</div>
</body>
</html>
