<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <img th:src="@{/login.css}" class="img-responsive center-block" width="200" height="200"
                     alt="img"/>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Choose account operation</div>
                <div class="panel-body">
                    <span th:utext="${accBudget}"></span>
                    <form th:action="@{/user/savedAccountOperation/{id}(id = ${userId})}" method="get">
                        <div>
                            <label>Amount: </label>
                            <input type="number" name="operationBudget"  />
                        </div>
                        <input type="radio" name="operationType" value="DEPOSIT" checked="checked"/>
                        <label>DEPOSIT</label>
                        <input type="radio"  name="operationType" value="WITHDRAWAL" />
                        <label>WITHDRAWAL</label>
                        <button type="submit" class="btn btn-primary col-md-offset-4">
                            Save </button>
                    </form>
                </div>
            </div>
            <div class="panel-heading">Choose Id to transfer</div>
            <div class="panel-body">
                <form th:action="@{/user/operationTransfered/{id}(id = ${userId})}" method="get">
                    <div>
                        <input type="radio" name="operationType"  checked="checked" hidden/>
                    </div>
                    <div>
                        <label>User Id Destination</label>
                        <input type="number" name="userIdDestination" id="userIdTransfer" value=""/>
                    </div>
                    <div>
                        <label>did</label>
                        <input type="number" name="did"id="userIdTransferDid" value="" hidden/>
                    </div>
                    <div>
                        <label>Transfer Amount</label>
                        <input type="number" name="operationBudget" />
                    </div>
                    <button type="submit" class="btn btn-primary col-md-offset-4">Transfer</button>
                </form>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Operation</th>
                    <th>Id</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(allOperations.size() -1, 0, -1)}">
                    <td th:text="${allOperations[i].getOperationId()}"></td>
                    <td th:text="${allOperations[i].getOperationDate()}"></td>
                    <td th:text="${allOperations[i].getAmount()}"></td>
                    <td>
                        <div th:switch="${allOperations[i].getOp()}">
                            <p th:case="'TRANSFER'"><span th:text="'TRANSFER TO'"></span></p>
                            <p th:case="'PAYMENT'"><span th:text="'PAYMENT FROM'"></span></p>
                        </div>
                    </td>
                   <td>
                        <div th:switch="${allOperations[i].getOp()}">
                            <p th:case="'TRANSFER'"><span th:text="${allOperations[i].getOid()}"></span></p>
                            <p th:case="'PAYMENT'"><span th:text="${allOperations[i].getDid()}"></span></p>
                        </div>
                    </td>
                </tr>
            </table>


            <div class="panel-heading">Send Message</div>
            <div class="panel-body">
                <form th:action="@{/user/sentMessage/{id}(id = ${userId})}">
                    <div>
                        <label>User Id Destination</label>
                        <input type="number" name="userIdDestination" id="userIdMessage" value=""/>
                    </div>
                    <div>
                        <label>did</label>
                        <input type="number" name="did" id="userMessageIdDid" value="" hidden/>
                    </div>
                    <div>
                        <label>Message</label>
                        <input type="text" name="text" th:maxlength="50"/>
                    </div>
                    <button type="submit" class="btn btn-primary col-md-offset-4">Send</button>
                </form>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Text</th>
                        <th>Type</th>
                        <th>id</th>
                    </tr>
                    <tr th:each="i : ${#numbers.sequence(allMessages.size() -1, 0 ,-1)}">
                        <td th:text="${allMessages[i].getMessageid()}"></td>
                        <td th:text="${allMessages[i].getMessageDate()}"></td>
<!--                        <td th:text="${allMessages[i].getText()}"></td>-->
                        <td>
                            <div th:SWITCH="${allMessages[i].getMessageType()}">
                                <p th:case="'SENT'"><span th:text="'SENT TO'"></span></p>
                                <p th:case="'RECEIVED'"><span th:text="'RECEIVED FROM'"></span></p>
                            </div>
                        </td>
                        <td>
                            <div th:switch="${allMessages[i].getMessageType()}">
                                <p th:case="'SENT'"><span th:text="${allMessages[i].getDid()}"></span></p>
                                <p th:case="'RECEIVED'"><span th:text="${allMessages[i].getOid()}"></span></p>
                            </div>
                        </td>
                    </tr>
                </table>
                <div th:each="n : ${#numbers.sequence(allMessages.size() -1, 0 ,-1)}">
                    <div th:text="${allMessages[n].getText()}"></div>
                </div>
            </div>
            <p class="admin-message-text text-center" th:utext="${userMessage}"></p>
        </div>
    </div>
</div>
</body>
</html>
