.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #00a6f5;
    border: 3px solid
    rgba(0,0,0,0.1);
    border-radius: 30px;
    box-shadow: #004080 5px 5px ;
}

.img-margin {
    margin-top: 80px
}

.form-register {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
    color: white;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-width {
    margin-top: 40px;
    width: 200px;
}
