<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
    <div class="valign-wrapper" style="height: 100vh;">
        <div class="center-align" style="width: 100%;">
            <div class="fadein">
                <form autocomplete="off" action="#" th:action="@{/registration}"
                      th:object="${user}" method="post" class="form-horizontal center-block"
                      role="form">

                    <div class="row">
                        <div class="center-align">
                            <h5 style="color: #6c0388; margin-bottom: 20px">Sign Up Form</h5>
                        </div>
                        <div class="input-field col s4 offset-s4">
                            <input  type="text" th:field="*{name}" placeholder="Name"/>
                            <label  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                        </div>

                        <div class="input-field col s4 offset-s4">
                            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                            <input type="text" th:field="*{lastName}" placeholder="Last Name"/>
                        </div>


                        <div class="input-field col s4 offset-s4">
                            <input type="text" th:field="*{email}" placeholder="Email"/> <label
                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                        </div>


                        <div class="input-field col s4 offset-s4">
                            <input type="text" th:field="*{userName}" placeholder="User Name"/>
                            <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                                   style="margin-top: -25px"></label >
                        </div>


                        <div class="input-field col s4 offset-s4">
                            <input type="password" th:field="*{password}" placeholder="Password">
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                   style=" margin-top: -25px"></label>
                        </div>
                    </div>
                    <div class="center-align">
                        <button type="submit" class="btn indigo" style="border-radius: 15px; width: 150px;">Register User</button>
                    </div>
                </form>
            <h5 class="col s4 offset-4"><span style="color: #F7ACB1" th:utext="${successMessage}"></span></h5>


                <div class="center-align">
                    <form th:action="@{/}" method="get">

                        <button class="btn blue" style="border-radius: 15px; width: 250px" type="Submit">Go To Login Page</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="podbar">
    <div style="display: flex;bottom:-400px; left:0; position: fixed; z-index:-99; margin-left: -20px;margin-top: -40px">
        <svg
                width="900"
                height="900"
                viewBox="0 0 700 500"
                xmlns="http://www.w3.org/2000/svg"
        >
            <defs>
                <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#0093ff;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#0eceff;stop-opacity:1" />
                </linearGradient>
            </defs>
            <g transform="translate(110,200)">
                <path d="M89.4,-154.3C105.1,-111.6,99.6,-71.1,124.6,-31.6C149.6,7.8,205.1,46.2,217.5,90C230,133.8,199.3,183,155.9,183.6C112.5,184.1,56.2,136.1,3.3,131.5C-49.6,126.9,-99.1,165.8,-140.7,164.6C-182.2,163.4,-215.7,122.2,-229.6,75.5C-243.5,28.8,-237.8,-23.3,-205.8,-50C-173.9,-76.7,-115.8,-98,-77.1,-203.3C-38.4,-148.5,-119.2,-317.8,8.8,-209.9C36.8,-142,73.7,-197.1,89.4,-154.3Z" fill="url(#grad2)" />
            </g>
        </svg>
    </div>
    <div style="display: flex; bottom:-400px; left:0; position: fixed; z-index:-99; margin-left: -50px">
        <svg
                width="900"
                height="900"
                viewBox="0 0 700 500"
                xmlns="http://www.w3.org/2000/svg"
        >
            <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#ca656f;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#F7ACB1;stop-opacity:1" />
                </linearGradient>
            </defs>
            <g transform="translate(100,200)">
                <path d="M89.4,-154.3C105.1,-111.6,99.6,-71.1,124.6,-31.6C149.6,7.8,205.1,46.2,217.5,90C230,133.8,199.3,183,155.9,183.6C112.5,184.1,56.2,136.1,3.3,131.5C-49.6,126.9,-99.1,165.8,-140.7,164.6C-182.2,163.4,-215.7,122.2,-229.6,75.5C-243.5,28.8,-237.8,-23.3,-205.8,-50C-173.9,-76.7,-115.8,-98,-77.1,-203.3C-38.4,-148.5,-119.2,-317.8,8.8,-209.9C36.8,-142,73.7,-197.1,89.4,-154.3Z" fill="url(#grad1)" />
            </g>
        </svg>
    </div>
</div>
<div class="nadbar">
    <div style="display: flex; top:-0px; right:0px; position: fixed; z-index:-99; margin-right: -400px;margin-top: -300px">
        <svg
                width="900"
                height="900"
                viewBox="0 0 600 600"
                xmlns="http://www.w3.org/2000/svg"
        >
            <defs>
                <linearGradient id="grad3" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#ae00ca;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#6c0388;stop-opacity:1" />
                </linearGradient>
            </defs>
            <g transform="translate(280,300)">
                <path d="M34,-62.4C39.1,-49.6,35,-31.8,72.7,-14.2C110.4,3.5,189.8,21.1,200.1,36.9C210.5,52.7,151.7,66.6,113.9,84.1C76.1,101.7,59.2,122.8,35.7,136.4C12.3,150,-17.7,156.1,-26.5,133.6C-35.3,111.2,-22.9,60.2,-50.6,38.3C-78.3,16.4,-146.1,23.5,-171,9.8C-195.9,-3.9,-178,-38.5,-157.4,-67C-136.8,-95.6,-113.6,-118,-86.9,-121C-60.2,-124,-30.1,-107.5,-7.8,-95.3C14.4,-83.1,28.8,-75.2,34,-62.4Z" fill="url(#grad3)" />
            </g>
        </svg>
    </div>
    <div style="display: flex; top:0; right:0px; position: fixed;z-index:-99; margin-right: -400px; margin-top: -360px">
        <svg
                width="900"
                height="900"
                viewBox="0 0 600 600"
                xmlns="http://www.w3.org/2000/svg"
        >
            <defs>
                <linearGradient id="grad4" x1="0%" y1="100%" x2="0%" y2="0%">
                    <stop offset="0%" style="stop-color:#ca656f;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#F7ACB1;stop-opacity:1" />
                </linearGradient>
            </defs>
            <g transform="translate(300,300)">
                <path d="M34,-62.4C39.1,-49.6,35,-31.8,72.7,-14.2C110.4,3.5,189.8,21.1,200.1,36.9C210.5,52.7,151.7,66.6,113.9,84.1C76.1,101.7,59.2,122.8,35.7,136.4C12.3,150,-17.7,156.1,-26.5,133.6C-35.3,111.2,-22.9,60.2,-50.6,38.3C-78.3,16.4,-146.1,23.5,-171,9.8C-195.9,-3.9,-178,-38.5,-157.4,-67C-136.8,-95.6,-113.6,-118,-86.9,-121C-60.2,-124,-30.1,-107.5,-7.8,-95.3C14.4,-83.1,28.8,-75.2,34,-62.4Z" fill="url(#grad4)" />
            </g>
        </svg>
    </div>
</div>

</body>
</html>
